.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('C:\Users\JONAH\Findme Application\src\LoginPage Background.jpg');
  background-size: cover;
  background-position: center;
  padding: 20px;
  box-sizing: border-box;
}

.login-header h1 {
  color: white;  
  background-color: green; 
  font-size: 1.5em; 
  font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  padding: 10px;
  border-radius: 5px; 
  margin-bottom: 20px;
}

.login-form {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.login-form input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

.checkboxx-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 6px;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 270px;
}

.checkboxx-container label {
  white-space: nowrap;
  margin: 0; 
  padding: 0;
  margin-bottom: 13px;
}

.login-button {
  background-color: #004080;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}

.login-button:hover {
  background-color: #002060;
}

.links-container {
  margin-top: 10px;
  text-align: center;
}

.links-container a {
  display: inline;
  margin-bottom: 5px;
}

.reset-link {
  color: #007BFF;
}

.signup-link {
  color: #28A745;
}
