.display-page {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 100vh;
  overflow: hidden;
}

.column {
  width: 48%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.column-header {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 10px;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

.missing-header {
  background-color: red;
  color: white;
}

.unidentified-header {
  background-color: green;
  color: white;
}

.record-container {
  padding: 10px;
}

.record {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.record-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.record-body > div {
  margin-bottom: 5px;
}

.record-body div:not(:last-child) {
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}
