.page-container {
    background-color: aliceblue;
    min-height: 100vh; /* Full viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
}

.help-faqs-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.help-faqs-header {
    align-items: center;
    margin-bottom: 20px;
}

.help-faqs-header h1 {
    color: darkblue;
    text-decoration:underline;
    align-items: center;
    margin-bottom: 20px;
}

.backk-buttonn {
    position: fixed;
    bottom: 20px; 
    left: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #0056b3;
}

h1 {
    color: #343a40;
}

.help-section, .faq-section {
    margin-bottom: 20px;
}

h2 {
    color: #495057;
}

.faq-item {
    margin-bottom: 15px;
}

.faq-item h3 {
    color: #007bff;
}

p {
    color: #495057;
    margin-bottom: 10px;
}
