.landing-page {
  text-align: center;
  background-image: url('C:\Users\JONAH\Findme Application\public\background.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.landing-page p {
  color: aliceblue;
  font-weight: 400;

}

.hheader {
  max-width: 600px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 20px;
  border-radius: 10px;
}

.cta-button {
  background-color: orange;
  color:black;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px;
}
.line {
  color:bisque;
}