.police-dashboard {
  padding: 20px;
  background-color: aquamarine;
}

.leads-table {
  width: 100%;
  border-collapse: collapse;
}

.leads-table th,
.leads-table td {
  background-color: aliceblue;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.leads-table th {
  background-color: black;
  color: white; 
  font-weight: bold;
}
