.logout-confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000; 
  color: aliceblue; 
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.logout-logo {
  margin-top: 0px; /* Corrected margin-top value */
  width: 250px; /* Adjust size as needed */
  margin-bottom: 20px;
}

.tagline {
  margin: 20px 0;
  color: aliceblue; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.circle {
  width: 100px;
  height: 100px; /* Made the circle symmetrical */
  border-radius: 50%;
  background-color: green; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0; /* Added margin */
}

.tick {
  font-size: 2.5em;
  color: #000; 
}

.logged-out-message {
  color: green;
}

.thank-you-message {
  color: green; 
}

.footer {
  margin-top: 10px;
  position: absolute;
  bottom: 20px;
  width: 100%; /* Ensures footer spans full width */
  text-align: center;
  color: #ffa500; 
}

.footer p {
  margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .logout-logo {
    width: 200px; /* Adjust size for smaller screens */
  }

  .circle {
    width: 80px;
    height: 80px;
  }

  .tick {
    font-size: 2em;
  }

  .logout-confirmation {
    padding: 20px; /* Adjust padding for smaller screens */
  }
}
