.password-update-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  box-sizing: border-box;
}

.update-header {
  margin-bottom: 20px;
  text-align: center;
}

.update-header h1 {
  color: navy; 
  background-color: white; 
  font-size: 2.5em; 
  font-weight: bold; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  padding: 10px; 
  border-radius: 5px; 
  margin-bottom: 20px;
}

.update-form {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.update-form input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

.update-button {
  background-color: #004080;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}

.update-button:hover {
  background-color: #002060;
}

.error {
  color: red;
  margin-top: 10px;

}
