.home-widget-containerr {
  background-color:black;
  padding: 20px;
  max-height: max-content;
  border-radius: 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position:relative;
}

.home-widget-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.home-widget-menu-icon,
.home-widget-profile-icon {
  font-size: 24px;
  cursor: pointer;
}

.home-widget-logo {
  background-image:url('C:\Users\JONAH\Findme Application\src\Findme logo.png');
  background-size:cover;
  width: 300px;
  height: 150px;
}

.home-widget-sidebar,
.home-widget-profile-menu {
  position: fixed;
  top: 120px;
  width: 280px;
  height: 100%;
  background-color: #333;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0 10px 10px 0;
  padding: 10px;
  z-index: 10;
  overflow-x: hidden;
  transition: 0.5s;
}

.home-widget-sidebar {
  left: -230px;
}

.home-widget-sidebar.open {
  left: 0;
}

.home-widget-profile-menu {
  right: -242px;
}

.home-widget-profile-menu.open {
  right: 0;
}

.sidebar-button,
.profile-button {
  top: 120px ;
  width: 100%;
  background-color: #004080;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.sidebar-button:hover,
.profile-button:hover {
  background-color: #575757;
}

.profile-info {
  color: white;
}

.home-widget-title {
  color: brown;
  font-size: 24px;
  margin-bottom: 10px;
}

.home-widget-description {
  text-align: center;
  color:aliceblue;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.notification-badge {
  position: absolute;
  top: 7px;
  right: 0px;
  background-color: #dc3545; /* Red */
  color: white;
  border-radius: 50%; /* Circular shape */
  width: 20px;
  height: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logout-button {
  margin-top: 200px;
  background-color: #dc3545; /* Red color for logout */
  color: white; /* White text */
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px; /* Space between icon and text */
}

.logout-button:hover {
  background-color: #c82333; /* Darker red for hover effect */
}
