.police-login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('C:/Users/JONAH/Findme Application/src/LoginPage Background.jpg');
  background-size: cover;
  background-position: center;
  padding: 20px;
  box-sizing: border-box;
}

.police-login-header h1 {
  color: white;  
  background-color: green; 
  font-size: 1.5em; 
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  padding: 10px;
  border-radius: 5px; 
  margin-bottom: 20px;
}

.police-login-form {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.police-login-form input {
  margin-bottom: 10px;
  margin-top: 12px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.police-password-container {
  position: relative;
}

.police-toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

.police-checkbox-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 6px;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 270px;
}

.police-checkbox-container label {
  white-space: nowrap;
  margin: 0; 
  padding: 0;
  margin-bottom: 13px;
}

.police-login-button {
  background-color: #004080;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}

.police-login-button:hover {
  background-color: #002060;
}

.police-links-container {
  margin-top: 10px;
  text-align: center;
}

.police-links-container a {
  display: inline;
  margin-bottom: 5px;
}

.police-errooor {
  color: red;
  font-size: 0.9em;
  margin-top: -10px;
  margin-bottom: 10px;
}


.logout-button {
  background-color: #dc3545; /* Red color for logout */
  color: white; /* White text */
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px; /* Space between icon and text */
}

.logout-button:hover {
  background-color: #c82333; /* Darker red for hover effect */
}
