.register-page {
  background-image:url('C:\Users\JONAH\Findme Application\src\RegisterPage background.jpg') ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  box-sizing: border-box;
}

.register-header {
  text-align: center;
  margin-bottom: 20px;
}

.register-header h1 {
  color: white; 
  background-color: green; 
  font-size: 2.5em; 
  font-weight: bold;
  padding: 10px; 
  border-radius: 5px; 
}

.register-form {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.input-container {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.register-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.errror {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
  text-align: justify;
}
.cblabel{
  display: flex;
}
.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
}

.checkbox-container label {
  font-size: 0.9em;
  flex: 1; 
}

.terms-link, .privacy-link {
  color: #004080; 
  text-decoration: none;
  margin: 0 5px;
}

.terms-link:hover, .privacy-link:hover {
  text-decoration: underline;
}

.signup-button {
  background-color: #004080;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
}

.signup-button:hover {
  background-color: #002060;
}



.input-container {
  position: relative;
  margin-bottom: 16px;
}

.password-container {
  display: flex;
  align-items: center;
}

.toggle-password {
  position: absolute;
  right: 10px; 
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #888;
}

.toggle-password:hover {
  color: #333; 
}

