.report-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 130vh;
  background-image: url('C:\Users\JONAH\Findme Application\src\ResetPassword Background.jpg');
  background-position: justified;
  padding: 10px;
  box-sizing: border-box;
}

.report-header {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0px;
}

.report-headerr h1 {
  color: white; 
  background-color: green; 
  font-size: 2.5em;
  font-weight: bold; 
  padding: 10px;
  border-radius: 5px; 
  margin-top: 0px;
}

.report-form {
  color: navy;
  background-image: url('C:\Users\JONAH\Findme Application\src\white bg.jpg');
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.form-image-container {
  text-align: center;
  margin-bottom: 20px;
}

.form-image-container img {
  max-width: 100%;
  height: auto;
}

.input-container {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.report-form input,
.report-form select,
.report-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.erroor {
  color: red;
  font-size: 0.9em;
  margin-top: 10px;
}

.report-form input[type="file"] {
  padding: 3px;
}

.report-form label {
  margin-bottom: 5px;
}

textarea {
  height: 100px;
}

.report-button {
  background-color: #004080;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
}

.report-button:hover {
  background-color: #002060;
}

.asterisk {
  color: red;
}
