.reset-password-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('C:/Users/JONAH/Findme Application/src/ResetPassword Background.jpg'); 
  background-size: cover;
  background-position: center;
  padding: 20px;
  box-sizing: border-box;
}

.reset-header {
  margin-bottom: 20px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.cjay {
  color: aliceblue;
}

.reset-header h1 {
  color: pink;
  font-size: 2em;
  margin-bottom: 10px;
}

.reset-form {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.reset-form .form-group {
  margin-bottom: 30px; 
  position: relative;
}

.reset-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.eerror {
  color: #F00;
  margin-top: 20px;
  position: absolute;
  bottom: -20px; /* Adjust as necessary to ensure proper spacing */
}

.request-otp-button {
  background-color: #004080;
  color: white;
  border: none;
  padding: 15px 100px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}
