/* UserManagement.css */

.user-management {
  font-family: Arial, sans-serif;
  color: #333;
}

.user-management-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:black;
  color: #fff;
  padding: 10px 20px;
}

.user-management-header h2 {
  color: aliceblue;
  margin: 0;
}

.user-management-header button {
  background-color: #008080;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.user-management-header button:hover {
  background-color: #005959;
}

.user-form {
  display: none;
  flex-direction: column;
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  margin: 20px 0;
}

.user-form label {
  margin-bottom: 10px;
}

.user-form input,
.user-form select {
  padding: 10px;
  margin-bottom: 10px;
}

.user-form button {
  background-color: #004080;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.user-form button:hover {
  background-color: #002640;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
  margin: 20px 0;
}

.search-container input {
  padding: 10px 10px 10px 40px;
  width: 100%;
}

.search-icon {
  position: absolute;
  left: 10px;
  color: #aaa;
}

.user-table {
  background-color:aliceblue ;
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.user-table th,
.user-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.user-table th {
  background-color: #f4f4f4;
}

.delete-account-button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.delete-account-button:hover {
  background-color: #cc0000;
}

.error-message {
  color: red;
}
