.user-login-page {
    background-image: url('C:/Users/JONAH/Findme Application/src/download.jpeg'); /* Use forward slashes for paths */
    background-size: cover; /* Ensures the image covers the whole page */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image on the page */
    width: 100vw; /* Ensures the width spans the full viewport */
    height: 100vh; /* Ensures the height spans the full viewport */
}


.custom-login-containerer {
    background-color: rgb(11, 16, 41); /* Black background */
    color: #ffa500; 
    padding: 40px;
    max-width: 600px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.custom-login-title {
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

.custom-role-selection {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.custom-role-card {
    background-color: #ffa500; /* Orange background */
    color: #000; /* Black text */
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-role-card:hover {
    background-color: #ff6f00; /* Darker orange on hover */
}
